<!doctype html>
<html>

<head>

<link rel="stylesheet" type="text/css" href="/static/style.css">


</head>


<body>
   
<h1 style="text-align:center; color: teal"> account</h1>

<div id =i8>
<form action="update.html" method="GET"> 
<input type="submit" name="" value="update" >
</form>

<form action="delete.html" method="GET"> 
<input type="submit" name="delete" value="ddlete">
</form>

</div>

</body>
</html>