<!doctype html>
<html>

<head>

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>


<body>

<div id=box1>
<div id= sp><h4>log in</h4></div>

<form action ="/" method="post">
<div id=l>
<div id=i1><input type="text" id="fname" placeholder="username" name="name" ></div>
</div>
<div id=i3> <input type="text" id="email"  placeholder="Email Adress &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp@yahoo.com"  name="emial" ></div>


<div id=i4> <input type="password" id="password" placeholder="password" name="password" ></div>


<div id=i8> <input type="submit" name="login" value="login"></div>
</form>
<form action ="/signup.html" method="get">
<div id=i8> <input type="submit" name="signup" value="signup"></div>
</form>






</div>



</body>
</html>